.seperator-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    gap: 30px;
    width: 100%;
}

.seperator-box{
    flex: 1;
    border-radius: 8px;
    border: 1px solid #e0e0e0;
    background-color: #ffffff;
    box-shadow: rgba(19, 19, 19, 0.116);
    padding: 20px;
    color: #333;
}

.seperator-box ul{
    padding-left: 20px;
}

.seperator-box li{
    margin-bottom: 15px;
    padding: 15px;
    background-color: #fafafa;
    border-radius: 6px;
    border: 1px solid #e8e8e8;
    color: #333;
}


.seperator-box button {
    background-color: #333;
    color: white;
    padding: 10px 18px;
    border-radius: 4px;
}

.seperator-box label {
    color: #333;
}